<h1>Mi contador</h1>
<div>
<counter [count]="100" [step]="2" (valorActual)="devolverValor($event)" (plusClicked)="onFirstPlusClick($event)" ></counter>
</div>
<div>
<counter [count]="1"  [step]=1 (stepActual)="asignarStep($event)"></counter>
</div>
<div>
<counter [count]="valorCont" [step]="stepAct"></counter>
</div>
<div>
<counter [count]="72" [step]="5"></counter>
</div>
<div>
<counter [step]="7"></counter>
</div>
<div>
<counter [step]="countedValue"></counter>
</div>

<boton-loco></boton-loco>
